<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--即绑定/匹配/映射对应的mapper接口，因为这些sql的方法都是在那儿定义的！！！-->
<mapper namespace="com.example.mapper.UserMapper">

    <select id="getUsers" resultType="com.example.pojo.User">
        select * from user;
    </select>

</mapper>