<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="com.tkzou.dao.DepartmentMapper">
        <select id="getDepartments" resultType="com.tkzou.pojo.Department">
        select * from department;
        </select>

        <select id="getDepartmentById" resultType="com.tkzou.pojo.Department" parameterType="int">
        select * from department where id = #{id};
        </select>
        </mapper>